<section
  id="contact"
  [ngStyle]="{ backgroundImage: 'url(assets/images/images.jpg)' }">
  <div class="container align-items-center con_1">
    <div class="circle">
      <a href="mailto:rashababayeva@gmail.com"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
    <div class="circle">
      <a href="https://www.linkedin.com/in/rasmiyya-mammadli-092059276/"
        ><i class="bx bxs-envelope"></i
      ></a>
    </div>
    <div class="circle">
      <a href="https://github.com/Rasmiyya-Mammadli"
        ><i class="bx bxl-github"></i
      ></a>
    </div>
  </div>
  <h3 class="logo__title">
    {{ 'contact.notHesitate' | translate }},
    <span>{{ 'contact.contact' | translate }}</span>
    {{ 'contact.me' | translate }}
  </h3>
</section>
