<section id="skills">
  <div class="container">
    <h2>
      <strong>{{ 'skills.title' | translate }}</strong>
    </h2>
    <span class="bar-title mb-5"></span>
    <div class="card-container">
      <div class="card">
        <img
          src="../../assets/images/HTML5_Badge_512.png"
          alt=""
          class="card-image" />
        <h6>HTML5</h6>
      </div>
      <div class="card">
        <img src="../../assets/images/css3.png" alt="" class="card-image" />
        <h6>CSS3</h6>
      </div>
      <div class="card">
        <img src="../../assets/images/btstrap.png" alt="" class="card-image" />
        <h6>Bootstrap</h6>
      </div>
      <div class="card">
        <img src="../../assets/images/taiwind.png" alt="" class="card-image" />
        <h6>Tailwind</h6>
      </div>
      <div class="card">
        <img
          src="../../assets/images/JavaScript-logo.png"
          alt=""
          class="card-image" />
        <h6>JavaScript</h6>
      </div>
      <div class="card">
        <img src="../../assets/images/anguar.png" alt="" class="card-image" />
        <h6>Angular</h6>
      </div>
      <div class="card">
        <img
          src="../../assets/images/typescript.png"
          alt=""
          class="card-image" />
        <h6>TypeScript</h6>
      </div>
      <div class="card-1">
        <h3 class="card-heading">Methodologies</h3>
        <ul class="methodologies-list">
          <li>
            <img src="../../assets/images/scrum.png" class="card-image-1" />
            Scrum
          </li>
          <li><img src="../../assets/TDD.webp" class="card-image-1" /> TDD</li>
          <li>
            <img src="../../assets/images/RWD.png" class="card-image-1" />
            Responsive Web Design
          </li>
        </ul>
      </div>
      <div class="card-1">
        <h3 class="card-heading">TOOLS</h3>
        <ul class="methodologies-list">
          <li>
            <img
              src="../../assets/images/Git-Icon.png"
              class="card-image-1" />Git-Version Control System
          </li>
          <li>
            <img
              src="../../assets/images/webpack.png"
              class="card-image-1" />Webpack
          </li>
          <li>
            <img
              src="../../assets/images/npm-logo.png"
              class="card-image-1" />Node Package Manager
          </li>
          <li>
            <img
              src="../../assets/images/jest-logo.png"
              class="card-image-1" />Jest, Jasmine
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
